# This file defines the environment variables which must be set
# to run the API. This file should be passed to the container
# via the --env-file arguement.

# The location to load the configuration from
HI_CONFIG=

# The aws regions used for loading config and s3 uploads
S3_REGION=

# The database urls for each service
# See https://godoc.org/gopkg.in/mgo.v2#Dial for url format
AUTH_DB_HOST=
USER_DB_HOST=
REGISTRATION_DB_HOST=
DECISION_DB_HOST=
RSVP_DB_HOST=
CHECKIN_DB_HOST=
UPLOAD_DB_HOST=
MAIL_DB_HOST=
EVENT_DB_HOST=
STAT_DB_HOST=
NOTIFICATIONS_DB_HOST=
PROJECT_DB_HOST=
PROFILE_DB_HOST=

# Set the oauth client id and secret for your GitHub, Google, and Linkedin applications
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# This secret will be used to generate jwt tokens
TOKEN_SECRET=secret_string

# AWS access key and secret access key for connecting to s3 bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# The api key to the sparkpost account for sending emails
SPARKPOST_APIKEY=
