language: go
go:
    - "1.10.x"
services:
    mongodb
install:
    - go get -t ./...
    - sudo apt-get install python3 pip3
script:
    - cd $GOPATH/src/github.com/arbor-dev/arbor && git fetch origin dev/v0.3 && git checkout dev/v0.3 && cd -
    - "[ $(gofmt -l . | wc -l) == 0 ]"
    - make all
    - make test
before_deploy:
    - make docs
    - make deploy
deploy:
    - provider: s3
        access_key_id: $HACKILLINOIS_ACCESS_KEY
        secret_access_key: $HACKILLINOIS_SECRET_KEY
        bucket: hackillinois-api
        skip_cleanup: true
        local_dir: deploy
        on:
            branch: master
    - provider: s3
        access_key_id: $HACKILLINOIS_ACCESS_KEY
        secret_access_key: $HACKILLINOIS_SECRET_KEY
        bucket: hackillinois-api-docs
        skip-cleanup: true
        local_dir: documentation/site
        on:
            branch: master
