language: go
go:
    - "1.11.x"
env:
    - GO111MODULE=on
services:
    - mongodb
    - docker
install:
    - sudo apt-get -y install python3 python3-pip
    - sudo pip3 install setuptools wheel
script:
    - "[ $(make fmt | wc -l) == 0 ]"
    - make all
    - make test
before_deploy:
    - make docs
    - make container TAG=$TRAVIS_TAG
deploy:
    - provider: script
      script: bash -c "make container-push TAG=$TRAVIS_TAG"
      skip_cleanup: true
      on:
        branch: master
    - provider: script
      script: bash -c "make container-push TAG=$TRAVIS_TAG"
      skip_cleanup: true
      on:
        tags: true
    - provider: s3
      access_key_id: $HACKILLINOIS_ACCESS_KEY
      secret_access_key: $HACKILLINOIS_SECRET_KEY
      bucket: hackillinois-api-docs
      skip-cleanup: true
      local_dir: documentation/site
      on:
        branch: master
