name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - staging
  release:
    types:
      - published

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        mongodb-version: ['5.0']
    env:
      GO111MODULE: on
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: install go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: test-rs

      - name: check cache for go mods
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: check fmt
        run: bash -c "[ $(make fmt | wc -l) == 0 ]"

      - name: build api
        run: make all

      - name: run unit tests
        run: make test

      - name: run E2E tests
        run: make integration-test

  deploy:
    runs-on: ubuntu-18.04
    needs: [build]
    if: "github.ref == 'refs/heads/master' || github.event_name == 'release'"
    steps:
      - uses: actions/checkout@v2

      - name: install dependencies
        run: |
          sudo apt-get -y install python3 python3-pip
          sudo pip3 install setuptools wheel
          sudo pip3 install -r documentation/requirements.txt

      - name: using release version as container tag (release build only)
        if: "github.event_name == 'release'"
        run: echo "CONTAINER_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: build docs and docker container
        run: |
          make docs
          make container TAG=$CONTAINER_TAG

      - name: push docs to s3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: hackillinois-api-docs
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
          SOURCE_DIR: 'documentation/site'

      - name: push docker container to dockerhub
        run: make container-push TAG=$CONTAINER_TAG
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
